@import "tailwindcss";

@theme {
  --color-background: #000000;
  /* Pitch Black background */
  --color-foreground: #ffffff;
  --color-primary: #bef264;
  /* Lime 400 */
  --color-secondary: #a855f7;
  /* Purple 500 */
  --color-surface: #000000;
  /* Match Background - Seamless Black */
  --color-success: #bef264;
  /* Matching Primary */
  --color-warning: #facc15;
  /* Yellow 400 */
  --color-error: #ef4444;
  /* Red 500 */
}

:root {
  --background: #0f1214;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}